body{
    background-color: aliceblue;
}
.imag02{
    width: 8%;
    height: auto;
    padding: 2px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.imag01{
    width: 38%;
    border-radius: 15px;
}